<%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />

    <%= f.label :email %>
    <%= f.email_field :email %>
    <br />

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br />

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
    <br />

    <%= f.submit "Create my account" %>
<% end %>
