<!DOCTYPE html>
<html>
  <head>
    <title>ToyAppDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <%= message %>
        </div>
    <% end %>

    <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: :delete %>
    <% end %>
        
    <%= yield %>
  </body>
</html>
